section {
margin-top:100px ;
}

div{

  width:200px;
  height: 50px;
  text-align: center;
  background-color: red;
  border: 2px solid black;
  margin: 10px;
}

div:nth-of-type(2n) {
  background-color: yellow;
}

div:nth-of-type(3n) {
  background-color: aqua;
}

.box {
  transform: rotate(45deg);
  margin-top: 40px;
}

#myPic , .box {
  margin: 80px;

}

